body {
	background-color:orange;
	color:black;
	font-size:40x;
}

.hidden {
	visibility: hidden;
	display:none;
}

.mystyle {
	color:#444;
	padding:5px;
	font-size:25px;
	margin: 10px;
	
}
.canvas{
		margin:10px;
		background-color:white;
		border: 10px solid #7cFc00;
}
